.Skills {
  width: 100%;
}

.Skills h1 {
  background-color: #beee61;
  width: 25%;
  padding-top: 9px;
  padding-bottom: 5px;
}

#achievementheading {
    background-color: #FF9600;
}

@media screen and (max-width: 1299px) {
  #achievementheading {
    width: 35%;
  }
}

@media screen and (max-width: 1021px) {
  #achievementheading {
    width: 25%;
  }
}

@media screen and (max-width: 722px) {
    #achievementheading {
      width: 40%;
    }
  }

  @media screen and (max-width: 521px) {
    #achievementheading {
      width: 50%;
    }
  }

  #projectsheading {
    background-color: #262626;
    color: #ccc;
}

@media screen and (max-width: 1299px) {
  #projectsheading {
    width: 35%;
  }
}

@media screen and (max-width: 1021px) {
  #projectsheading {
    width: 25%;
  }
}

@media screen and (max-width: 722px) {
    #projectsheading {
      width: 35%;
    }
  }

  @media screen and (max-width: 521px) {
    #projectsheading {
      width: 40%;
    }
  }



.python svg,
iframe,
.python img {
  width: 40px;
  height: 40px;
}

.python {
  margin: 12px 12px 22px 12px;
}

@media screen and (max-width: 762px) {
  .python {
    margin: 15px 10px 15px 10px;
  }
}

@media screen and (max-width: 662px) {
  .python {
    margin: 15px 7px 15px 7px;
  }
}

@media screen and (max-width: 1323px) {
  .python {
    margin: 15px 7px 15px 7px;
  }

  .python svg,
  iframe,
  .python img {
    width: 40px;
    height: 40px;
  }

  .python h2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 1213px) {
  .python svg,
  iframe,
  .python img {
    width: 30px;
    height: 30px;
  }
  .div-skill {
    padding: 5px 2px;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 1092px) {
  .python svg,
  iframe,
  .python img {
    width: 30px;
    height: 30px;
  }
  .div-skill {
    padding: 5px 2px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 819px) {
  .skilldiv {
    flex-wrap: wrap;
  }
  .python svg,
  iframe,
  .python img {
    width: 55px;
    height: 55px;
  }
  .div-skill {
    margin-right: 0;
  }
}

@media screen and (max-width: 650px) {
  .python svg,
  iframe,
  .python img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 563px) {
  .worked {
    font-size: medium;
  }
}

@media screen and (max-width: 517px) {
  .worked {
    font-size: small;
  }
}

@media screen and (max-width: 445px) {
  .worked {
    font-size: x-small;
  }
}

@media screen and (max-width: 317px) {
  .worked {
    font-size: xx-small;
  }
}

.div-skill {
  background-color: #010206;
  width: 100%;
  height: auto;
  border-radius: 25px;
  -webkit-margin-collapse: collapse;
  box-shadow: rgba(187, 184, 184, 0.3) 0px 1px 4px;
}

#achievementsdiv {
    border-top: 4px solid #FF9600;
}
.aboutdiv {
    border-top: 4px solid #FF9600;
}

#projectsdiv {
    border-top: 4px solid #262626;
}

.skilldiv {
  height: auto;
  border-top: 4px solid #beee61;
}

.div-skill h2 {
  color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-svg {
  animation: rotate 20s linear infinite;
}




.card{
    box-shadow: rgba(240, 239, 239, 0.967) 0px 1px 4px;
}

.imgcontainer{
    padding: 10px;
    border-color: #fff;
    border-radius: 0.50rem;
    height: 280px;
}

.imgcontainer img, .imgcontainer iframe{
    border-radius: 0.50rem;
    height: 100%;
}

.imgcontainer iframe{
    height: 100%;
}













  